/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}


  .heads{
    position:relative;
    left:550px;
  
  }
  .p2{
    position:relative;
    left:400px;
  
  
  }
  .h2{
    position:relative;
    left:600px;
  
  }
  .py1{
    position:relative;
    left:45px;
  }
  .py2{
    position:relative;
    left:400px;
  
  
  }
  .py3{
    position:relative;
    left:750px;
  
  }
  .py4{
    position:relative;
    left:45px;
  }
  .py5{
    position:relative;
    left:400px;
  }
  .py6{
    position:relative;
    left:750px;
  
  
  }
  .r1{
    position:relative;
    left:600px;
  
  }
  .py8{
    position:relative;
    left:45px;
  }
  .py9{
    position:relative;
    left:400px;
  }
  .py10{
    position:relative;
    left:750px;
  }
  .r2{
    position:relative;
    left:600px;
  }
  .spa1{
    position:relative;
    left:130px;
  
  }
  .spa2{
    position:relative;
    left:750px;
  
  }
  .r3{
    position:relative;
    left:600px;
  }
  .act1{
    position:relative;
    left:45px;
  }
  .act2{
    position:relative;
    left:400px;
  
  }
  .act3{
    position:relative;
    left:750px;
  }
  .r4{
    position:relative;
    left:600px;
  }
  .dest1{
    position:relative;
    left:45px;
  }
  .dest2{
    position:relative;
    left:400px;
  
    }
  .dest3{
    position:relative;
    left:750px;
  
      }
  
